*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav start */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px ;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

ul{
    display: flex;
    
}
ul li{
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    list-style: none;
    
    
}
li a{
    text-decoration: none;
    color: #3C354F;
}
.logo{
    padding: 20px;
    font-size: 45px;
    
}
.color{
    color: #ff42a5;
}
.info-design{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    
    
}
.fa-brands{
    margin-left:5px;
}
.fa-youtube{
    color: red;
}
/* nav end */

/* banner starts */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.banner-text{
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    margin-left: 300px;
    
    

}
.banner-image{
    min-height: 50px;
    width: 50%;
}
.banner-image>img{
    width: 71%;
}
.banner-title{
    color: #0B0223;
    
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    /* margin-top: 150px; */
}
.title-two{
    
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.banner-text p{
    font-size: 20px;
    margin-top: 10px;
     margin-bottom: 10px;
    
}
.btn1{
    padding: 20px 50px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    gap: 5px;
    color: white;
    border: none;
}
.btn2{
    padding: 20px 50px;
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    border: none;
    

}
/* banner ends */
/* online starts */
.online-section{
    min-height: 300px;
    margin-top: 100px;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.online-title{
    text-align: center;
    color:#0B0223;
    font-size: 48px;
    margin-top: 10px;
    padding: 20px;
}
.online-text{
    text-align: center;
    color: #534C64;
    font-size: 18px;
    
}
.online-img{
    /* border: 1px solid red; */
    width: 350px;
    position: relative;
}
.online-img >img{
    width: 100%;
    margin-bottom: 10px;
}
.img-content{
    font-size: 25px;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height:87.50%;
    border-radius: 12px;
}
.img-content:hover{
    opacity: 1;
    border: 5px solid #F948B2;
}
.fa-sharp{
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
}
.img-text:hover{
    color: #F948B2;
    cursor: pointer;
}
.text2{
    font-size: 20px;
}
/* online ends */

/* play section start */
.play-section{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width:100%;
}
.play-content{
    width: 50%;

}
.play-img{
    width: 50%;
}
.play-img>img{
    width: 50%;
}
.play-title{
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}
.play-description{
    font-size: 20px;
    text-align: center;
}

.play-img2 img{
    width: 200px;
    position: relative;
    bottom: 150px;
    right: 150px;
}
/* play section end */


/* mobile devices */
@media screen and (max-width:576px) {
    .nav-bar ,ul{
        flex-direction: column;
        
    }
    .nav-logo{
        padding: 10px;
    }
    ul li{
        font-size: 16px;
        
    }
    .logo{
        font-size: 18px;
    }
    .ul{
        margin-right: 50px;

    }
    .banner-container{
        flex-direction:column-reverse;
    }
    .banner-text{
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    .banner-image{
        width: 100%;
    }
    .online-section{
        flex-direction: column;
        width: 100%;
    }
     .play-section{
        flex-direction: column;
    }
     .play-img>img{
        width: 400px;
    }
    .play-img2>img{
        width: 200px;
        right: 60px;
    }
    .play-content{
        margin-top: 100px;
    } 
    .play-content{
        width: 60%;
    }
    .play-img{
        width: 100%;
    }
    .title-two{
        font-size: 20px;

    }
    .banner-title{
        font-size: 18px;
    }
    .online-text{
        width: 80%;
    }
    .online-img{
        width: 70%;
    }
}
    
    

    
    
    
    

/* medium devices */
@media  screen and (min-width:577px) and (max-width:992px) 
{
    .banner-container{
        justify-content: center;
        align-items: center;
    }
   
    .banner-text{
        margin-left: 0px;
    }
    .online-section{
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 35%;
}
.play-content{
    width: 100%;
}
.play-img{
    width: 100%;
}

}
    
